<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.exam.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BeginExam</servlet-name>
    <servlet-class>com.exam.servlet.BeginExam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExitSystem</servlet-name>
    <servlet-class>com.exam.servlet.ExitSystem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.exam.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editPassword</servlet-name>
    <servlet-class>com.exam.servlet.editPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>com.exam.servlet.deleteuser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAuser</servlet-name>
    <servlet-class>com.exam.servlet.deleteAuser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAusert</servlet-name>
    <servlet-class>com.exam.servlet.deleteAusert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>edituser</servlet-name>
    <servlet-class>com.exam.servlet.edituser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.exam.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditServlett</servlet-name>
    <servlet-class>com.exam.servlet.EditServlett</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editUserPass</servlet-name>
    <servlet-class>com.exam.servlet.editUserPass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editUserInfo</servlet-name>
    <servlet-class>com.exam.servlet.editUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPaper</servlet-name>
    <servlet-class>com.exam.servlet.AddPaper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPapert</servlet-name>
    <servlet-class>com.exam.servlet.AddPapert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deletepaper</servlet-name>
    <servlet-class>com.exam.servlet.deletepaper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteApaper</servlet-name>
    <servlet-class>com.exam.servlet.deleteApaper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteApapert</servlet-name>
    <servlet-class>com.exam.servlet.deleteApapert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editpaper</servlet-name>
    <servlet-class>com.exam.servlet.editpaper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editpapert</servlet-name>
    <servlet-class>com.exam.servlet.editpapert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.exam.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BeginExam</servlet-name>
    <url-pattern>/BeginExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitSystem</servlet-name>
    <url-pattern>/ExitSystem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editPassword</servlet-name>
    <url-pattern>/editPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAuser</servlet-name>
    <url-pattern>/deleteAuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAusert</servlet-name>
    <url-pattern>/deleteAusert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>edituser</servlet-name>
    <url-pattern>/edituser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlett</servlet-name>
    <url-pattern>/EditServlett</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editUserPass</servlet-name>
    <url-pattern>/editUserPass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editUserInfo</servlet-name>
    <url-pattern>/editUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPaper</servlet-name>
    <url-pattern>/AddPaper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPapert</servlet-name>
    <url-pattern>/AddPapert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletepaper</servlet-name>
    <url-pattern>/deletepaper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteApaper</servlet-name>
    <url-pattern>/deleteApaper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteApapert</servlet-name>
    <url-pattern>/deleteApapert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editpaper</servlet-name>
    <url-pattern>/editpaper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editpapert</servlet-name>
    <url-pattern>/editpapert</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.exam.common.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>